.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-self-end {
  justify-self: end;
}

.align-center {
  align-items: center;
}

.d-block {
  display: block;
}

.text-align-center {
  text-align: center;
}