@import "variables";

@media all and (max-width: $xl) {
  section {
    padding: 100px 0;
  }

  .main-info__content {
    padding-top: 75px;
  }

  //todo: try to find better solution
  .advantage-item-wrapper .advantages-list__item::after {
    border-color: transparent !important;
  }

  .advantage-item-wrapper:not(:nth-child(2n), :last-child) .advantages-list__item::after {
    border-color: #E8E8EA !important;
  }
}

@media all and (max-width: $lg) {
  section {
    padding: 80px 0;
  }

  .main-info__content {
    padding-top: 60px;
  }

  h1, .text-h1 {
    font-size: 42px;
    line-height: 1.4em;
  }
}

@media all and (max-width: $md) {
  section {
    padding: 60px 0;
  }

  .main-info__content {
    padding-top: 45px;
  }

  h1, .text-h1 {
    font-size: 38px;
    line-height: 1.3em;
  }

  //todo: try to find better solution
  .advantage-item-wrapper:nth-child(n) .advantages-list__item::after {
    border-color: transparent !important;
  }

  .burger-menu {
    display: block;
  }

  .header-nav {
    display: none;
  }

}

@media all and (max-width: $sm) {
  section {
    padding: 34px 0;
  }

  .main-info__content {
    padding-top: 30px;
  }

  h1, .text-h1 {
    font-size: 36px;
    line-height: 1.2em;
  }
}
