@import "reset";
@import "bootstrap-grid.css";
@import "fonts";
@import "variables";
@import "typography";
@import "spaces";
@import "buttons";
@import "burger-menu";

@mixin pointersWithShadow($pointerColors) {
  @each $colorName, $color in $pointerColors {
    .#{$colorName}-pointer {
      width: 50px;
      height: 50px;
      background: rgba($color, 0.06);
      border-radius: 50%;
      box-sizing: border-box;
      box-shadow: inset 0 0 0 20px rgba($color, 0.06);
    }
    .#{$colorName}-pointer__point {
      margin: 20px;
      width: 10px;
      height: 10px;
      background: $color;
      border-radius: 50%;
    }
  }
}

@include pointersWithShadow($pointerColors);

.w-100 {
  width: 100%;
}

html {
  font: {
    family: Inter, sans-serif;
    weight: 400;
    size: 16px;
  };
  line-height: 1.5em;
}

.radius-5 {
  border-radius: 5px;
}

section {
  padding: 120px 0;
}

.logo {
  min-width: 96px;
}

.main-info {
  background-image: url("../images/pictures/background_room_1.png"), $colorAccent;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-info__content {
  padding-top: 90px;
  max-width: 650px;
  & :first-child {
    margin-top: 0;
  }
}

.advantage-item-wrapper {
  position: relative;
}

.advantages-list__item::after {
  position: absolute;
  right: 0;
  top: 170px;
  content: '';
  height: 110px;
  border-left: 1px solid transparent;
}

.advantage-item-wrapper:not(:nth-child(3n), :last-child) .advantages-list__item::after {
  border-color: #E8E8EA;
}

.manage {
  background-color: $colorBackgroundLighten;
}

//.manage__content,
//.build__content {
//  max-width: 440px;
//}

.manage__picture--1 {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.103346);
}

.manage__picture--1__container {
  position: relative;
  z-index: 1;
}

.manage__picture--1__container::after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  bottom: 20%;
  right: -5%;
  left: -5%;
  background: linear-gradient(180deg, rgba(248, 251, 254, 0.0001) -26.82%, #F8FBFE 100%);
}

.manage__picture--2 {
  box-shadow: 0 22px 54px rgba(67, 87, 138, 0.29);
}

.manage__picture--2__container {
  z-index: 2;
  margin: 17% 0 0 -22%;
}

.build__picture--1 {
  box-shadow: 0 22px 54px rgba(0, 0, 0, 0.136011);
}

.build__picture--1__container {
  margin-right: -20.5%;
}

.build__picture--2 {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.103346);
}

.build__picture--2__container {
  position: relative;
  margin-top: 10%;
  z-index: -1;
}

.build__picture--2__container::after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  top: 33%;
  bottom: 0;
  right: -5%;
  left: -5%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) -23.88%, #FFFFFF 100%);
}

.help {
  background-image: url("../images/pictures/background_room_2.png"), $colorAccent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.help__content,
.plan__content {
  max-width: 750px;
}

.plan {
  background: linear-gradient(to bottom, $colorBackgroundLighten 50%, white 50%);
}

.tariff-card {
  background: white;
}

.pro-card {
  border-top: 4px solid $colorPrimary;
}

.tariff-head {
  letter-spacing: 0.433333px;
}

.price__currency {
  vertical-align: top;
}

.tariff-description {
  line-height: 22px;
  letter-spacing: -0.4px;
}

.service {
  margin-bottom: 20px;
  list-style-image: url("../images/icons/check.png");
}

.not-included {
  color: $colorGreyLighten-1;
  text-decoration: line-through;
  list-style-image: url("../images/icons/check-lighten.png");
}

.brands-logo {
  max-width: 850px;
}

.brands-logo .slick-track {
  align-items: center;
}

.review-list__content {
  border: 1px solid $colorGreyLighten-2;
  border-radius: 10px;
}

//todo: solution from stackoverflow try to find better
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.review-list__item.slick-active {
  border-right: 1px solid $colorGreyLighten-2;
}

//todo: better solutions?
.review-list__item.slick-active + .review-list__item.slick-active + .review-list__item.slick-active {
  border-right: none;
}

.review-card {
  height: 100%;
}

.review {
  flex-grow: 1;
}

.review-card__quote {
  font-size: 96px;
  line-height: 100px;
}

.request {
  background: linear-gradient(to top, $colorBackgroundLighten 65%, white 35%);
}

.form-request {
  border: 1px solid #E8E8EA;
  box-shadow: 0 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 10px;
  background: white;
}

.form-request__field {
  height: 50px;
  width: 100%;
  border: 1px solid #E8E8EA;
  border-radius: 3px;

  &::placeholder {
    color: $colorGreyDarken-1;
  }

  &:focus {
    box-shadow: 4px 4px 4px rgba(67, 87, 138, 0.1);

    &::placeholder {
      color: $colorGreyLighten-2;
    }
  }
}

#file-input {
  display: none;
}

footer {
  background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
}

.footer-nav__header {
  line-height: 20px;
  height: 55px;
  color: $colorGreyLighten-2;
}

.footer-nav__link {
  height: 70px;
  line-height: 20px;
}

.internal-links {
  max-width: 300px;
}

.social-media-links__list--item:first-child .social-media-link {
  padding-left: 0;
}

.social-media-links__list--item:last-child .social-media-link {
  padding-right: 0;
}

@import "media";