//colors
$colorPrimary: #50E3C2;
$colorPrimaryLighten: #e6fbf6;
$colorAccent: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
$colorBackgroundLighten: #F8FBFE;
$colorButtonText: #0F3D33;
$pointerColors: ("pink": #FC5C65, "green": #50E3C2, "purple": #A665FB);
$colorGreyLighten-1: #878B90;
$colorGreyLighten-2: #DBE4F1;
$colorGreyDarken-1: #323232;

//screen
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
